body {
    background-image: url(./items/background.jpeg);
    background-size: cover;
}

h3 {
    margin: 10px;
}

.happy-new-year-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heart-img {
    height: 50px;
    width: 50px;
}

#tpbank-image {
    height: 350px;
    width: 300px;
}

#video {
    height: 550;
    width: 600;
    z-index: 0;
}
